Repository Jhonatan815/react-ds-kit-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage', bash -c 'pnpm test:hooks:coverage'

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,json,css,md}": [
    "pnpm format",
    "pnpm lint"
  ],
  "packages/ui/**/*.{ts,tsx}": [
    "bash -c 'pnpm test:ui:coverage'"
  ],
  "packages/hooks/**/*.{ts,tsx}": [
    "bash -c 'pnpm test:hooks:coverage'"
  ]
}

chore: add jsxA11y
  apps/docs/tsconfig.json
Due: pnpm format, pnpm lint

chore: add new eslint rule
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  eslint.config.mjs
  packages/hooks/src/vitest.setup.ts
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/.storybook/vitest.setup.ts
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.test.tsx
  packages/ui/src/components/Button/Button.tsx
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage', bash -c 'pnpm test:hooks:coverage'

feat: add basic styles to button variants
  packages/ui/package.json
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/index.css
  pnpm-lock.yaml
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage'

chore: fix lint
  apps/docs/app/page.tsx
  packages/ui/src/components/Button/Button.test.tsx
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage'

chore: fix deploy
  packages/ui/src/components/Button/Button.tsx
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage'

docs(changeset): Fix button
  .changeset/many-yaks-join.md
Due: pnpm format, pnpm lint

chore: add changelog
  packages/hooks/CHANGELOG.md
Due: pnpm format, pnpm lint

chore: add changelog ui packege
  packages/ui/CHANGELOG.md
Due: pnpm format, pnpm lint

chore: remove filter param to publish package
  .github/workflows/release.yml
Due: none

chore: recurvise param to publish
  .github/workflows/release.yml
Due: none

feat: modify style button
  .lintstagedrc
  .vscode/settings.json
  apps/docs/app/globals.css
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  apps/docs/tsconfig.json
  eslint.config.mjs
  package.json
  packages/ui/package.json
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/index.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.mjs
  prettier.config.mjs
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage'

docs(changeset): Update style in button
  .changeset/gold-ducks-read.md
Due: pnpm format, pnpm lint

feat: add colors to dark mode
  apps/docs/app/page.tsx
  packages/ui/src/index.css
Due: pnpm format, pnpm lint

fix: outline when focus
  apps/docs/app/page.module.css
  packages/ui/src/components/Button/Button.tsx
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage'

feat: add ripple effect in button
  apps/docs/app/page.tsx
  eslint.config.mjs
  package.json
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.test.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/index.css
  pnpm-lock.yaml
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage'

feat: add skeleton button
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage'

feat: add icon component
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/Icon/Icon.test.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/icons/Loading.tsx
  packages/ui/src/components/Icon/icons/index.ts
  packages/ui/src/components/Icon/index.ts
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage'

docs(changeset): Add icon component
  .changeset/fancy-aliens-love.md
Due: pnpm format, pnpm lint

feat: Add loading button
  apps/docs/app/page.tsx
  packages/hooks/src/useTheme/types.ts
  packages/hooks/src/useTheme/useTheme.tsx
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/index.ts
  packages/ui/src/components/Button/types.ts
  packages/ui/src/components/Icon/Icon.stories.tsx
  packages/ui/src/components/Icon/Icon.tsx
  packages/ui/src/components/Icon/icons/Loading.tsx
  packages/ui/src/components/Icon/types.ts
  packages/ui/src/index.ts
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage', bash -c 'pnpm test:hooks:coverage'

feat: add text-field component
  eslint.config.mjs
  package.json
  packages/ui/package.json
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.test.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Button/_components/Contained/Contained.tsx
  packages/ui/src/components/Button/_components/Contained/index.ts
  packages/ui/src/components/Button/_components/Ghost/Ghost.tsx
  packages/ui/src/components/Button/_components/Ghost/index.ts
  packages/ui/src/components/Button/_components/Outline/Outline.tsx
  packages/ui/src/components/Button/_components/Outline/index.ts
  packages/ui/src/components/Button/_components/Skeleton/Skeleton.tsx
  packages/ui/src/components/Button/_components/Skeleton/index.ts
  packages/ui/src/components/Button/types.ts
  packages/ui/src/components/TextField/TextField.stories.tsx
  packages/ui/src/components/TextField/TextField.test.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/ui/src/components/TextField/_components/Filled/Filled.tsx
  packages/ui/src/components/TextField/_components/Filled/index.ts
  packages/ui/src/components/TextField/_components/Outlined/Outlined.tsx
  packages/ui/src/components/TextField/_components/Outlined/index.ts
  packages/ui/src/components/TextField/_components/Standard/Standard.tsx
  packages/ui/src/components/TextField/_components/Standard/index.ts
  packages/ui/src/components/TextField/index.ts
  packages/ui/src/components/TextField/types.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: pnpm format, pnpm lint, bash -c 'pnpm test:ui:coverage'

docs(changeset): Add text-field component
  .changeset/green-oranges-draw.md
Due: pnpm format, pnpm lint

fix: change children type to text button
  apps/docs/app/page.tsx
Due: pnpm format, pnpm lint
